.restful-container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

.restful-form {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.restful-prefix {
  padding: 10px;
  background-color: #f0f0f0;
  border-right: 1px solid #ddd;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  font-weight: bold;
  cursor: default;
  user-select: none;
  font-family: Arial, sans-serif;
  font-size: 14px;
  text-shadow: none !important;
}

.restful-input {
  flex-grow: 1;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  width: 50%;
}

.restful-button {
  background-color: #fd6400;
  padding: 10px 15px;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  transition: background 0.3s ease;
}

.restful-button:hover {
  background-color: #e55a00;
}

.restful-results {
  max-height: 500px;
  font-family: Arial, sans-serif;
  overflow-y: scroll;
  border: 1px solid #ddd;
  padding: 16px;
  background-color: #f9f9f9;
}

.restful-error {
  color: red;
}

.restful-pre {
  white-space: pre-wrap;
  word-break: break-word;
  background: #fff;
  padding: 10px;
  border-radius: 5px;
}
