html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background-image: url("./img/endless-space-2.jpg");
  background-size: cover;
}


@keyframes move {
  0%{
    transform: translate(0,0);
  }
  100%{
    transform: translate(100px, 100px);
  }
}