.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  max-height: 100vh;
  overflow: auto;
  background-image: url('../../img/endless-space-2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.background .content {
  position: relative;
  z-index: 1;
}
